<%- include('partials/header') -%>
<%- include('partials/basicnavbar') -%>

<div class="container-general">
  <main>
    <div class="row justify-content-center align-center">
      <div class="col-lg-6 col-md-9 col-sm-10 px-4 content-container">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title text-center mb-3">Log In</h3>
          </div>
          <div class="card-body">
            <form action="/login" method="POST">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" aria-describedby="emailHelp" name="email">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
              </div>
              <button type="submit" class="btn w-100 mt-4 mb-2 login-log-in btn-new">Log In</button>
            </form>
            <hr>
            <p class="card-text text-center">Don't have an account? <a href="/signup">Register</a></p>
          </div>
        </div>
        <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
          <div class="alert alert-danger"><%= el.msg %></div>
          <% }) %> <% } %> <% if (locals.messages.info) { %> <%
          messages.info.forEach( el => { %>
          <div class="alert alert-info"><%= el.msg %></div>
          <% }) %> <% } %>
      </div>
    </div>
  </main>
</div>


<%- include('partials/footer') -%>
