<%- include('partials/header') -%>
<%- include('partials/navbar', { activePage: 'post' }) -%>
<div class="container-general">
  <main>
    <div class="row justify-content-center align-center post-container text-center">
      <div class="col-lg-6 col-md-9 col-sm-10 px-4 mb-3 content-container">
        <div class="card mb-3">
          <p class="mt-3"><%= post.caption %></p>
          <hr class="my-4">
          <div class="d-flex justify-content-center post-iframe-container">
            <iframe src="https://open.spotify.com/embed/track/<%= post.spotifyTrackId %>" width="70%" height="240" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
          </div>
          <hr class="my-4">
          <p class="mb-0"><%= post.likes %> likes</p>
          <div class="d-flex justify-content-center gap-5 mb-3">
            <% if(!post.likedBy.includes(user._id)){ %>
            <form action="/post/likePost/<%= post.id %>?_method=PUT" method="POST">
              <button class="btn btn-outline-primary btn-sm fa fa-heart" type="submit"></button>
            </form>
            <% } else { %>
            <form action="/post/likePost/<%= post.id %>?_method=PUT" method="POST">
              <button class="btn btn-primary btn-sm fa fa-heart" type="submit"></button>
            </form>
            <% } %>
            <%if(post.user == user.id){ %>
            <form action="/post/deletePost/<%= post.id %>?_method=DELETE" method="POST">
              <button class="btn btn-outline-danger btn-sm fa fa-trash" type="submit"></button>
            </form>
            <% } %>
          </div>
        </div>
        <div class="card mt-5">
          <h4 class="my-3">Add a comment</h4>
          <form action="/comment/createComment/<%=post._id%>" method="POST">
            <div class="d-flex justify-content-center">
              <textarea class="form-control post-textarea" id="comment" name="comment" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-new my-3">Submit</button>
            <% if (flash.error) { %>
              <div class="d-flex justify-content-center w-50 m-auto alert alert-danger"><%= flash.error %></div>
            <% } %>
          </form>
          <hr>
          <div class="my-5">
            <h5>Comments</h5>
              <% for(var i=0; i<comments.length; i++) { %>
            <div class="card my-3">
              <div class="card-body">
                <div class="d-flex align-items-start">
                  <div class="d-flex gap-1 flex-wrap">
                    <a href="/profile/<%=comments[i].user%>" class="username-post username"><%=comments[i].userName%>:</a>
                    <p class="comment-text"><%= comments[i].comment%></p>
                  </div>
                </div>
                <hr>
                <div class="d-flex justify-content-end gap-3">
                  <p><%= comments[i].timeSinceComment %></p>
                    <% if (comments[i].user == user.id) { %>
                  <div>
                    <form action="/comment/deleteComment/<%= comments[i]._id %>?_method=DELETE" method="POST">
                      <button type="submit" class="btn btn-danger btn-sm fa fa-trash"></button>
                    </form>
                  </div>
                  <% } %>
                </div>
                
              </div>
            </div>
            <% } %>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-9 col-sm-10 px-4 mb-5 content-container post-content-container pt-0 mb-3">
        <div class="card">
          <div class="card-body">
              <h5 class="card-title">Created by</h5>
              <p class="card-text username"><%= post.userName %></p>
              <p><%= timeSincePost %></p>
              <a href="/profile/<%=post.user%>" class="btn btn-new">Go to User Profile</a>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
<%- include('partials/footer') -%>