<%- include('partials/header') -%>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h2 class="mb-4"><%= post.title %></h2>
      <p><%= post.caption %></p>
      <h3 class="mb-0"><%= post.likes %> likes</h3>
      <div class="d-flex justify-content-center align-items-center">
        <form action="/post/likePost/<%= post.id %>?_method=PUT" method="POST">
          <button class="btn btn-outline-primary btn-sm fa fa-heart" type="submit"></button>
        </form>
        <%if(post.user == user.id){ %>
        <form action="/post/deletePost/<%= post.id %>?_method=DELETE" method="POST">
          <button class="btn btn-outline-danger btn-sm fa fa-trash" type="submit"></button>
        </form>
        <% } %>
      </div>
      <hr class="my-4">
      <% if(post.spotifyTrackId){ %>
      <iframe src="https://open.spotify.com/embed/track/<%= post.spotifyTrackId %>" width="100%" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      <% } %>
      <div class="mt-5">
        <h2>Add a comment</h2>
        <form action="/comment/createComment/<%=post._id%>" method="POST">
          <div class="form-group">
            <label for="comment" class="form-label">Comment</label>
            <textarea class="form-control" id="comment" name="comment" rows="3"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <hr>
        <h2>Comments</h2>
        <div class="card">
          <div class="card-body">
            <% for(var i=0; i<comments.length; i++) {%>
              <div class="mb-3 d-flex justify-content-center">
                <div class="d-flex flex-column align-items-center">
                  <div class="d-flex justify-content-center mb-2">
                    <a href="/profile" class="username"> <%=comments[i].userName%>:</a>
                    <p><%= comments[i].comment%></p>
                  </div>
                  <div class="d-flex justify-content-center">
                    <%if(comments[i].user == user.id){ %>
                      <form action="/comment/deleteComment/<%= comments[i]._id %>?_method=DELETE" method="POST">
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                      </form>                    
                    <% } %>
                  </div>
                </div>
              </div>
              <hr>
            <% } %>
          </div>
        </div>
      </div>      
    </div>
    <div class="col-md-4 mt-5 mt-md-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Created by</h5>
          <p class="card-text username"><%= post.userName %></p>
          <a href="/post/<%= post._id %>" class="btn btn-primary">Go to User Profile</a>
        </div>
      </div>
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Related Posts</h5>
          <% for(var i=0; i<relatedPosts.length; i++){ %>
          <div class="mb-3">
            <a href="/post/<%= relatedPosts[i].id %>"><%= relatedPosts[i].title %></a>
          </div>
          <% } %>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mt-4">
    <div class="col-md-8">
      <a href="/profile" class="btn btn-primary mr-2">Return to Profile</a>
      <a href="/feed" class="btn btn-primary">Return to Feed</a>
    </div>
  </div>
</div>
<%- include('partials/footer') -%>
